
 .albumV{
  align-items:center;
  padding:5px; 
  margin: 30px;
  
 }

 .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }

  div#centre {
    width: 50%;
    
  }

  .rowC{
    margin-top:20px; 
    margin-bottom: 20px;
    display:flex; 
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    
  }

  .rowR{
    margin-top:20px; 
    margin-bottom: 20px;
    display:flex; 
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  
  
  .modal-main {
    position:fixed;
    background: rgba(0, 0, 0, 0.6);
   
    height: auto;
    width:100%;
    height: 100%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  
  
  .container:hover .image {
    opacity: 0.3;
    border: 1px solid black
  }
  
  .container:hover .middle{
    opacity: 1;
  }
  
  .container:hover .inner {
    opacity: 1;
  }
  
  .container {
    display: inline-block;
    margin: 20px;
    margin: 20px;
  
  }
  .aligne {
    display: inline-block;
    padding: 20px;
    margin: 30px;
 }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index:1
    
  }
  .inner {
    opacity: 0;
    position: relative;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    
  }
  
  .transform {
    top: 0%;
    transform: translateY(-250%);
  }

  

  .text {
    text-align:center;
    color: black;
    font-size: 16px;
    padding: 10px;
  }

  .header{
    background-color: grey;
  }

